streamlit==1.43.2 ; python_version >= "3.11" and python_version < "3.12"
openai==1.66.5 ; python_version >= "3.11" and python_version < "3.12"
langchain==0.3.21 ; python_version >= "3.11" and python_version < "3.12"
langchain-core==0.3.45 ; python_version >= "3.11" and python_version < "3.12"
langchain-openai==0.3.9 ; python_version >= "3.11" and python_version < "3.12"
langchain-teddynote==0.3.44 ; python_version >= "3.11" and python_version < "3.12" 